<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            My Properties
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="createProperty()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            Properties
        </ion-list-header>
        <ion-item *ngFor="let property of propertyList | async" (click)="morePropertyOptions(property.$key)">
            <ion-icon name="home" color="danger" item-left></ion-icon>
            <h2>Title: {{property?.title}}</h2>
            <h3>Type: <strong> {{property?.type}}</strong></h3>
            <ion-badge item-right color="secondary">Leaseholds: {{property?.totalLeaseholds}}</ion-badge>
            <!--<ion-badge item-right color="secondary">Leaseholds: {{(property?.leaseholds|async).length}}</ion-badge>-->
            <!--<ion-badge *ngFor="let leasehold of property.leaseholds | async" item-right color="secondary">{{leasehold.size}}</ion-badge>-->
            <ion-badge *ngFor="let leasehold of property.leaseholds | async" item-right [style.background-color]="!leasehold.isRented ? 'green' : 'red'">{{leasehold.size}}</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>