<ion-header>
    <ion-navbar>
        <ion-title>Add Payment</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="newPaymentForm" (ngSubmit)="createPayment(newPaymentForm)" novalidate>
        <ion-item>
            <ion-label stacked>Company Name</ion-label>
            <ion-input #title formControlName="title" type="text" (change)="elementChanged(title)" placeholder="Which Company?" [class.invalid]="!newPaymentForm.controls.title.valid && (titleChanged||submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newPaymentForm.controls.title.valid && (nameChanged||submitAttempt)">
            <p>You need to enter a name for the company.</p>
        </ion-item>
        <ion-item>
            <ion-label stacked>Payment type</ion-label>
            <ion-input #type formControlName="type" type="text" (change)="elementChanged(type)" placeholder="What kind of payment?" [class.invalid]="!newPaymentForm.controls.type.valid && (typeChanged||submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newPaymentForm.controls.type.valid && (nameChanged||submitAttempt)">
            <p>You need to enter a type for the Payment.</p>
        </ion-item>
        <ion-item>
            <ion-label stacked>Amount</ion-label>
            <ion-input #amount formControlName="amount" type="text" (change)="elementChanged(amount)" placeholder="How much is the payment?" [class.invalid]="!newPaymentForm.controls.amount.valid && (amountChanged||submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newPaymentForm.controls.amount.valid && (amountChanged||submitAttempt)">
            <p>You need to enter a type for the Payment.</p>
        </ion-item>
        <ion-item>
            <ion-label stacked>Dept Date</ion-label>
            <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" formControlName="deptDate" [class.invalid]="!newPaymentForm.controls.deptDate.valid && (deptDateChanged||submitAttempt)"></ion-datetime>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newPaymentForm.controls.deptDate.valid && (deptDateChanged||submitAttempt)">
            <p>Which date is this dept for?</p>
        </ion-item>
        <ion-item>
            <ion-label stacked>Due Date</ion-label>
            <ion-datetime displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY" max="2020-10-31" formControlName="dueDate" [class.invalid]="!newPaymentForm.controls.dueDate.valid && (dueDateChanged||submitAttempt)"></ion-datetime>
        </ion-item>
        <ion-item class="error-message" *ngIf="!newPaymentForm.controls.dueDate.valid && (dueDateChanged||submitAttempt)">
            <p>When this has to be paid?</p>
        </ion-item>
        <button ion-button block type="submit">Add payment</button>
    </form>
</ion-content>