page-create-property {
    form {
        button {
            margin-top: 20px;
        }
        ion-item {
            margin: 10px 0;
        }
    }
    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }
    ion-label {
        margin-left: 5px;
    }
    ion-input {
        padding: 5px;
    }
    .invalid {
        border-bottom: 1px solid #ff6153;
    }
    .error-message .item-inner {
        border-bottom: 0 !important;
    }
}