<ion-header>
    <ion-navbar>
        <ion-title>{{property?.title}} - {{property?.type}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="morePropertyOptions(property?.$key)">
        <ion-icon name="settings"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-item>
                Property Information
                <ion-icon name="navigate" color="primary" item-right></ion-icon>
            </ion-item>
        </ion-card-header>
        <ion-list>
            <ion-item text-wrap>
                <ion-icon color="primary" name="home" item-left></ion-icon>
                Tiltle: {{property?.title}}
            </ion-item>
            <ion-item>
                <ion-icon color="secondary" name="logo-buffer" item-left></ion-icon>
                Type: {{property?.type}}
            </ion-item>
            <ion-item>
                <ion-icon color="dark" name="key" item-left></ion-icon>
                Address: {{property?.address}}
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-list>
        <ion-list-header>
            Leaseholds
            <ion-badge item-right>{{property?.totalLeaseholds}} </ion-badge>
        </ion-list-header>
        <ion-item-sliding>
            <ion-item *ngFor="let leasehold of leaseholdList | async" (click)="moreLeaseholdOptions(leasehold)">
                <ion-icon *ngIf="leasehold.isRented" name="home" color="danger" item-left></ion-icon>
                <ion-icon *ngIf="!leasehold.isRented" name="home" color="secondary" item-left></ion-icon>
                <ion-row>
                    <ion-col>
                        Type: <strong> {{leasehold?.type}}</strong>
                    </ion-col>
                    <ion-col>
                        Identify: <strong> {{leasehold?.code}}</strong>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Size: <strong> {{leasehold?.size}} m</strong>
                    </ion-col>
                    <ion-col>
                        Rent:
                        <ion-badge color="danger" item-right> {{leasehold?.activeAmount}} €</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only color="danger" (click)="releaseLeasehold(leasehold?.$key)" *ngIf="leasehold?.isRented">Αφαίρεση</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>