<ion-header>
    <ion-navbar color="primary">
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="profile">
    <ion-list>
        <ion-list-header>
            Personal Information
        </ion-list-header>

        <ion-item (click)="updateName()">
            <ion-grid>
                <ion-row>
                    <ion-col width-50>
                        Name
                    </ion-col>
                    <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
                        {{userProfile?.firstName}} {{userProfile?.lastName}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
                        <span>Tap here to edit.</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-list-header>
        Properties Information
    </ion-list-header>
    <ion-item (click)="showProperties()">
        <ion-icon name="home" color="primary" item-left></ion-icon>
        See all Properties
        <ion-badge color="secondary" item-right>{{numberOfProperties}}</ion-badge>
    </ion-item>
    <ion-list-header>
        Renters Information
    </ion-list-header>
    <ion-item (click)="showRenters()">
        <ion-icon name="people" color="primary" item-left></ion-icon>
        See all Renters
        <ion-badge color="secondary" item-right>{{numberOfActiveContracts}}</ion-badge>
    </ion-item>
</ion-content>