<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            My Payments
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="createPayment()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            Unpaid Payments
        </ion-list-header>
        <ion-item *ngFor="let payment of paymentList | async" (click)="morePaymentOptions(payment.$key)" [class.hide]="payment.paid==true">
            <ion-icon name="timer" color="danger" item-left></ion-icon>
            <h2>{{payment.title}}</h2>
            <h3>Total: <strong>€ {{payment.amount}}</strong></h3>
            <p>Company: <strong>{{payment.title}}</strong> - Type: <strong>{{payment.type}}</strong></p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Paid Payments
        </ion-list-header>
        <ion-item *ngFor="let payment of paymentList | async" (click)="goToPaidPayment(payment.$key)" [class.hide]="payment.paid==false">
            <ion-icon name="timer" color="secondary" item-left></ion-icon>
            <h2>{{payment.title}}</h2>
            <h3>Total: <strong>€ {{payment.amount}}</strong></h3>
        </ion-item>
    </ion-list>
</ion-content>